.strip {
  grid-area: strip;
  z-index: 100;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background: var(--color-bg);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  &-addButton {
    padding: 24px;
    margin: 24px;
    align-self: center;
  }

  &-frame {
    flex: 0 0 128px;
  }
}
