.strip {
  grid-area: strip;
  z-index: 100;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background: var(--color-bg);

  display: flex;
  overflow-x: auto;

  &-addButton {
    padding: 48px;
    align-self: center;

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }

  &-frame {
    flex: 0 0 128px;
  }
}
