.canvasView {
  grid-area: canvas;
  position: relative;
  background: #444;

  &-gridToggle {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  &-gridOverlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        white,
        white 1px,
        transparent 1px,
        transparent 100%
      ),
      linear-gradient(
        to bottom,
        white,
        white 1px,
        transparent 1px,
        transparent 100%
      );
  }
}
