.canvasView {
  grid-area: canvas;
  position: relative;
  background: var(--color-bg);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &-gridToggle {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  &-frame {
    margin: 32px;
    position: relative;
    display: flex;

    &-canvas {
      image-rendering: pixelated;
    }

    &-gridOverlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      border: 1px var(--color-grid);
      border-style: none solid solid none;
      background: linear-gradient(
          to right,
          var(--color-grid),
          var(--color-grid) 1px,
          transparent 1px,
          transparent 100%
        ),
        linear-gradient(
          to bottom,
          var(--color-grid),
          var(--color-grid) 1px,
          transparent 1px,
          transparent 100%
        );
    }
  }
}
